body{
    
    background-color:rgb(238, 226, 120);
    color: black;
    text-align: center;
    margin: auto;
    font-size: larger;
    
       
    }
    
    div{
        text-align: middle;
        padding: 5px;
        
    }